# Managed by ~/.config/setup/macos/remote-ssh/install.sh
# Root-owned installed copy; do not symlink this user-writable template.

AllowUsers __ALLOWED_USERS__
AuthorizedKeysFile .ssh/authorized_keys.d/tailnet-clients

AuthenticationMethods publickey
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitEmptyPasswords no
PermitRootLogin no

MaxAuthTries 3
LoginGraceTime 30
MaxSessions 2
LogLevel VERBOSE

AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no
GatewayPorts no
PermitTunnel no
PermitUserRC no
